{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>It works!</h1>
      <a href="{{url "App.Account"}}">Account info Get</a><br/>
      <a href="{{url "Orders.GetPaymentId" 456}}">To Send Order</a><br>
      <a href="{{url "App.Create"}}">Account creation</a>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
